<h2>Lista items</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Producto</th>
            <th scope="col">Precio</th>
            <th scope="col">Imagen</th>
        </tr>
    </thead>
    <tbody>
        {{#each productos}}
        <tr>
            <th scope="row">{{title}}</th>
            <td>{{price}}</td>
            <td><img src="{{thumbnail}}" width="50" height="50"></td>

        </tr>
        {{/each}}
    </tbody>
</table>