<h2>Lista items</h2>

<table class="table">
    <thead class="thead">
        <tr class="thead__tr">
            <th class="heade__th">Producto</th>
            <th class="thead__th">Precio</th>
            <th class="thead__th">Imagen</th>
        </tr>
    </thead>
    <tbody>
        {{#each response}}
        <tr class="tr">
            <th class="tr__">{{title}}</th>
            <td>{{price}}</td>
            <td><img src="{{thumbnail}}"></td>
        </tr>
        {{/each}}
    </tbody>
</table>